body {
    background:#0b1d2a;
  }
  
  .arrows {
    width: 60px;
    height: 72px;
    position: relative;
    left: 50%;
    margin-left: -30px;
  }
  
  .arrows path {
    stroke: #83b5d2;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

 .about {
    height:auto;
    background-color:#ffffff;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .projects {
    height: auto;
    background-color:#eeeeeb;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts {
    height: auto;
    background-color:#ffffff;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .more {
    height: auto;
    background-color:#ffffff;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 150px;
  }

  .testimonial {
    height: full;
    background-color:#e1e3e3;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-content {
    position: relative;
  
  }

  footer {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }


  .skills {
    justify-content: center;
    margin-bottom: 20px;
  }

/* .scrollToTop{
  position: fixed;
  bottom: 50px;
  left: 50%;
  right: 50%;
  z-index: 1;
  
} */

.screenshots{
  margin-left: 150px;
  margin-bottom: 0px;
}

.project {
  margin-left: 650px;
  min-width: auto;
}

@media (max-width: 1040px){
.project {
  margin-left: 400px;
  font-size: small;
}
.screenshots{
  margin-left: 100px;
  width: 250px;
  font-size: small;
}
}

@media (max-width: 780px){
  .project {
    margin-left: 220px;
    width: 300px;
    font-size: small;
  }
  .screenshots{
    margin-left: 0;
    width: 200px;
    font-size: small;
  }
  }

@media (max-width: 580px){
  .project {
    margin-left: 100px;
    width: 300px;
    font-size: small;
  }
  .screenshots{
    margin-left: 0;
    width: 200px;
    font-size: small;
  }
  }

  @media (min-width: 1800px){
    .project {
      margin-left: 1000px;
      width: 500px;
    }
    .screenshots{
      margin-left: 500px;
      width: 500px;
    }
    }

 .testimonial-description{
  margin-left: 20px;
  margin-right: 20px;
 }

 .testimonial-cards{
  z-index: 0;
 }

 .NavBar{
  z-index: 1;
 }
 